<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NyayaFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

</head>

<body>
    <div class="container">
      <h1>NyayaFinder</h1>
      <h2>FIR Analysis System</h2>
      <form action="{{ url_for('process') }}" method="post" enctype="multipart/form-data">
        <div>

          <select id="inputOption" name="inputOption">
            <option value="" disabled selected>How would you like to proceed?</option> <option value="text">Text</option>
            <option value="image">Image</option>
          </select>
        </div>
        <div id="textInput" style="display: none;">
          <textarea id="text" name="text"></textarea>
        </div>
        <div id="imageInput" style="display: none;">
            <input type="file" id="image" name="image" accept="image/*" value="Upload Image">
        </div>
        <button type="submit" id="processButton" style="display: none;">Process</button>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="error-message">
            {{ messages[0] }}
          </div>
        {% endif %}
      {% endwith %}
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const inputOption = document.getElementById('inputOption');
          const textInput = document.getElementById('textInput');
          const imageInput = document.getElementById('imageInput');
          const processButton = document.getElementById('processButton');
  
          inputOption.addEventListener('change', function () {
            const selectedValue = this.value;
            textInput.style.display = selectedValue === 'text' ? 'block' : 'none';
            imageInput.style.display = selectedValue === 'image' ? 'block' : 'none';
            processButton.style.display = selectedValue ? 'block' : 'none';
          });
        });
      </script>
    </div>
  </body>
  </html>
  
